<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			<p>
				Leader with vast agile product development experience, highly skilled
in Architecture, OOPS, POC and Process optimization/creation.
			</p>
		<p>
			9 years of experience in developing and designing various applications for media domain and health-care domain.
Diversity of experience, worked for 5 years in South Africa and co-working with US & France teams.
			</p>

<p>
	
Software Architecture
Proficient software design patterns ,UML and OOAD.
Expertise in Start UML, Visio and Enterprise Architect.
Experience in developing Proof of Concept and Pre-production solutions.
Proven skills in performance optimization of complex systems 
Excellent with Test automation concepts and developing/using frameworks
			</p>
Device Experience
Set Top Box,Android Mobile Platform
<p>
			</p>
			Web Experience
Java,Spring,Spring boot,Spring Data,Security, ReST web services, micro services , distributed tracing, Docker, Basic Apache Kafka

			<p>
				


Cloud Expertise
Firebase Cloud Database, Cloud Messaging and Cloud Storage.
			</p>
			<p>
			</p>


		</div>
		<br>
	</div>
</div>
