<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		Leader with vast agile product development experience, highly skilled
in Architecture, OOPS, POC and Process optimization/creation.
9 years of experience in developing and designing various applications for media domain and health-care domain.


Personal
Diversity of experience, worked for 5 years in South Africa and co-working with US & France teams.
Good team player who can bind the team to achieve synergy. Have handled the roles of Project Lead, 
Technical Lead, Scrum Master
Helps with career development,good communicator, always have a clear vision/strategy for the team.
Excellent team building and interpersonal skills.
Highyly skilled to identify bottlenecks in processes and optimizing or creating as well.
Strong analytical and debugging skills and good team leading capabilities.

Software Architecture
Proficient software design patterns ,UML and OOAD.
Expertise in Start UML, Visio and Enterprise Architect.
Experience in developing Proof of Concept and Pre-production solutions.
Proven skills in performance optimization of complex systems 
Excellent with Test automation concepts and developing/using frameworks

Device Experience
Set Top Box,Android Mobile Platform

Web Experience
Java,Spring,Spring boot,Spring Data,Security, ReST web services, micro services , distributed tracing, Docker, Basic Apache Kafka

Cloud Expertise
Firebase Cloud Database, Cloud Messaging and Cloud Storage.

Certifications
SCJP/OCJP

Tech Stack and Tools used
Java,Python,Ruby,PHP,Javascript
Intellij,Eclipse,Netbeans
Maven,SSH, WinScp
Git,Jenkins,Sonarqube,SQLite
Junit, Testharness(BDD),Storm Test
StarUML, EA,Visio
Spira, JIRA, Jazz
Filezilla
		</div>
		<br>
	</div>
</div>
